{% extends "base.html" %}

{% block title %}
    Новая Персона
{% endblock %}

{% block content %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Добавить новую Персону</p>
                        <div class="my-5">

                            <form method="post" id="contactForm">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
                            </form>

                        </div>
                    </div>
                </div>
{% endblock %}
