{% extends "base.html" %}

{% block title %}
    Предметы
{% endblock %}

{% block content %}
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3 class="post-subtitle">
                        {{ name }}:
                        <p></p>
                    </h3>
                    <!-- Post preview-->
                        <div class="post-preview">
                            <blockquote class="blockquote">
                            {{ object.name }}
                            </blockquote>

                            <a class="btn btn-primary" href="{% url 'educenter:subject_update' pk=object.pk %}" >
                                Изменить
                            </a>
                            <a class="btn btn-primary" href="{% url 'educenterapp:subject_delete' pk=object.pk %}" >
                                Удалить
                            </a>
                        </div>
                </div>
            </div>
{% endblock %}





